@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Mozilla+Headline:wght@200..700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    /* colores */
    --color-1: #222831;
    --color-2: #393E46;
    --color-3: #00ADB5;
    --color-4: #FF7601;
    
    --txt-color-1: #EEEEEE;
    --txt-color-2: #F3A26D;


    /* fuentes */
    --main-font: "Mozilla Headline", sans-serif;
    --work-sans: "Work Sans", sans-serif;
    --montserrat: "Montserrat", sans-serif;
    --ui-monospace: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: solid 1px #fff; */
}

body{
    background-color: var(--color-1);
}

.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.2fr 2fr 2fr 0.2fr;
    grid-template-areas: 
        "bar bar"
        "main main"
        "main main"
        "footer footer";
}

.nav-bar{
    grid-area: bar;
    display: flex;
    flex-direction: space-between;
    height: 10vh;
    
    position: sticky;
    top: 0;

    background: rgba(49, 49, 49, 0.3);
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

header{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

header p{
    color: var(--txt-color-2);
    font-family: var(--main-font);
    font-weight: 600;
    font-size: 1.2rem;
}

nav{
    width: 50%;
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 0 5%;
   
}

nav ul img{
    animation: rubberBand 3s infinite;
    filter: invert(1);
}

nav ul a{
    display: none;
    text-decoration: none;
}

main{
    grid-area: main;
    padding: 1% 5%;
    margin: 0 auto;
}

.main-article{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.main-article img{
    border-radius: 16px;
    height: 50%;
    width: 50%;
}

.main-article h1{
    font-family: var(--main-font);
    color: var(--txt-color-1);
    font-weight: 800;
    font-size: 2.1rem;
    margin-top: 5%;
    animation: bounceInLeft 1.8s ease-in-out;
}

section{
    width: 100%;
    margin: 5% 0;
    background-color: var(--color-2);
    padding: 5%;
    border-radius: 16px;
}

.section-title{
    font-family: var(--main-font);
    color: var(--txt-color-2);
    font-weight: 600;
    font-size: 1.5rem;
    padding: 5% 0;
}

.section-txt{
    font-family: var(--work-sans);
    color: var(--txt-color-1);
    font-size: 1.1rem;
    line-height: 1.3;
}

#span-name{
    color: var(--color-3);
    font-weight: 600;
}

#span-mark{
    color: var(--color-4);
    font-weight: 600;
}

.section-img:hover{
    transform: scale(1.2);
    transition: all 0.3s ease-in-out;
}

aside{
    display: none;
}

aside h3{display: none;}
aside p{display: none;}
aside ul{display: none;}

.skills-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
    margin: 5% 0;

}

.skills-container img{
    height: 50px;
}

.skills-container img:hover {
    transform: scale(1.2);
    transition: all 0.3s ease-in-out;
}


.contact-links{
    display: flex;
    justify-content: center;
    gap: 8%;
    margin: 5% 0;

}

.contact-links a img{
    height: 40px;
}
.contact-links a img:hover{
    filter: invert(1);
    transform: scale(1.2);
    transition: all 0.3s ease-in-out;
}

#about-me{
    animation: bounceInRight 1.8s ease-in-out;
}

#skills, #contact{
    animation: bounceInUp 1.8s ease-in-out;
}

footer{
    grid-area: footer;
}

.footer-container{
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    height: 100%;
    padding: 5%;

}

.footer-container p{
    font-family: var(--work-sans);
    color: var(--txt-color-1);
    font-size: 1.1rem;
}

/* para tablet */
@media (min-width: 768px){
    main{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
            "article about-me"
            "skills contact";
    }
    
    .main-article{
        margin: 5%;
        grid-area: article;
    }
    .main-article img{
        height: 60%;
        width: 62%;
    }

    section{
        margin: 2%;
        width: 95%;
    }
    
    #about-me{
        grid-area: about-me;
    }

    #skills{
        grid-area: skills;
        height: 70%;
    }
    #contact{
        grid-area: contact;
        height: 55%;
    }
}


@media (min-width: 1024px){
    .grid-container{
        grid-template-rows: 0.2fr 1fr 1fr 0.fr;
    }
    header{
        width: 50%;
    }

    nav ul{
        padding: 0 3%;
    }

    nav ul a{
        display: contents;
        color: var(--txt-color-1);
        font-family: var(--work-sans);
    }
    nav ul img{
        display: none;
    }

    .main-article{
        margin: 5%;
        grid-area: article;
    }
    
    .main-article img{
        height: 65%;
        width: 65%;
    }

    section p{
        font-size: 1.2rem;
    }
}

@media (min-width: 1290px){
    main{
        grid-template-columns: 1fr 1fr 0.5fr;
        grid-template-areas: 
            "article about-me aside"
            "skills contact contact";
    }
        
    aside{
        grid-area: aside;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin: 5% 0;
        background-color: var(--color-2);
        padding: 5%;
        border-radius: 16px;
    }

    aside #aside-title{
        display: flex;
        flex-direction: column;
        list-style-type: none;
        font-size: 1.5rem;
    }
    aside p{
        display: contents;
    }

    aside #aside-ul{
        display: flex;
        flex-direction: column;
        padding: 0 10%;
    }

    aside .aside-li{
        font-family: var(--work-sans);
        color: var(--txt-color-1);
        font-size: 1.1rem;
        line-height: 1.3;
        margin: 2% 0;
        padding: 0 5%;
    }

    #contact{
        width: 98%;
        height: 70%;
    }

    #contact h2{
        text-align: center;
    }

}